<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" routerLink="/">File Uploader</a>       
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/product" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/inventory" routerLinkActive="active">Inventories</a>
        </li>
    </ul>
    </div>
</nav>